.logo-container {
  position: absolute;
  top: 15px;
  left: 30px;
}

.logo-container img {
  width: 200px;
  height: auto;
}

.sign-in-btn {
  display: inline-block;
  background-color: #e50914;
  color: white;
  font-size: 1rem;
  /* font-weight: bold; */
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  top: 32px;
  right: 35px;
}

.sign-in-btn:hover {
  background-color: #db0e26;
  cursor: pointer;
}

.getStarted{
  display: inline-block;
  background-color: #e50914;
  color: white;
  font-size: 1rem;
  /* font-weight: bold; */
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  top: 535px;
  right: 500px;
  cursor:pointer;
}

.LogIn{
  display: inline-block;
  background-color: #e50914;
  color: white;
  font-size: 1rem;
  /* font-weight: bold; */
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  top: 535px;
  right: 500px;
  cursor:pointer;
}

.loginBlock{
  position: absolute;
  top: 30%;
  left: 40%;
  width:350px;
  height:380px;
  color: white;
  background-color: black;
  opacity:0.7;
}

.loginBlock h3{
  font-size:35px;
  margin-left:20px;
}

.email{
  width:235px;
  height:34px;
  margin-left:15px;
  padding-left: 20px;
  filter: brightness(110%);
}

.password{
  width:235px;
  height:34px;
  margin-left:15px;
  margin-top:23px;
  padding-left: 20px;
  filter: brightness(110%);
}


.loginBut{

    display: inline-block;
    background-color: #e50914;
    color: white;
    font-size: 1rem;
    /* font-weight: bold; */
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    position: relative;
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    top: 250px;
    right: 70px;
    width:75%;
    filter: brightness(110%);
    
  }
  
  .loginBut:hover {
    background-color: #db0e26;
    cursor: pointer;
  }
  
.new{

  margin-top: 90px;
  margin-left: 17px;
  
}

.navLinks{
  margin-right:40px;
  text-decoration: none;
  color:white;
}

.link{
  margin-left:220px;
  margin-top:-42px;
}

.search{
  width:150px;
  background-color: red;
}



.signOut-btn{
  position: absolute;
  color:red;
  margin-top: -35px;
  margin-left:1350px;
  display: inline-block;
  background-color: #e50914;
  color: white;
  font-size: 1rem;
  /* font-weight: bold; */
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
}
 
.mlogo{
  
  margin-top: -34rem;
  margin-left: 5.5rem;
  position: absolute;
  
}

.homeJpg{
    
     width:200vh;
     height:100vh;
     filter: brightness(65%);
     
}

.buttonPlay{
     position:absolute;
     margin-top: -15rem;
     margin-left: 6rem;
   
}

.buttonPlay .btn-play{
    font-size: 1.1rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border:none;
    cursor:pointer;
    transition: 0.3s ease-in-out;
}
.buttonPlay .btn-play:hover{
     opacity: 0.8;
}

.buttonPlay .btn-circle{
  margin-left:2rem;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border:none;
  cursor:pointer;
  transition: 0.3s ease-in-out;
  background-color: grey;
  color:white;
}


.player{
  width:100vw;
  height:100vh;
  object-fit: cover;
}

.back{
  position:absolute;
  padding:2rem;
  z-index: 1;
}

.back svg{
  font-size: 3rem;
  cursor:pointer;
  color:white;
}

video{
  height:100%;
  width:100%;
  
}